.drag-area{
    align-items: center;
    background-color: #fafcfe;
    border: 1px dashed #0061d5;
    border-radius: 8px;
    display: flex;
    height: calc(100% - 50px);
    margin: 0 0 16px;
    min-height: 400px;
    padding: 10px 0 20px;
    text-align: center;
    overflow: hidden;
  }
  .FolderEmptyStateContent{
    margin: 0 auto;
  }
  .drag-area.active{
    border: 2px solid #fff;
  }
  .drag-area .icon{
    width: 70px;
    height: 70px;
    margin: auto;
  }
  .drag-area h5{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .drag-area span{
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0 15px 0;
  }
  .drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
  }
  .drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .dragging{
    background-color: #dbdee1;
  }

  #btnGroupDrop1{
    border-radius: 6px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    border: 1px solid #6c757d;
    margin: 0 auto;
  }
  .dropmenu{
    transform: translate3d(0px, 44px, 0px) !important;
  }
  #mynavbar  li {
    font-size: 10px ;
  }
  